<div class="main-container">
  <div class="header">
    <div class="first-header">
      <div class="first-div">
        <div> Personal | Business</div>
      </div>
      <div>Sign in or Register</div>
    </div>
    <div class="second-header">
      <div class="first-div">
        <div ><img class="logo" src="../assets/image/logo.svg" alt=""></div>
        <div>Shop</div>
        <div>Why O2</div>
        <div>Help</div>
      </div>
      <div class="second-div">
        <div>
        </div>
        <div class="first-div">
          <span>My O2</span>
          <span>Search</span>
          <span><img style="height: 25px;" src="../assets/image/ship.svg" alt=""></span>
        </div>
      </div>
    </div>
    <!-- <div class="third-header">
      † Monthly price of your Airtime Plan will increase each April from April 2025 by the Retail Price Index rate of inflation announced in February each year plus 3.9%.
    </div> -->
    <div class="signin">
      <div class="signin-text">Sign in</div>
    </div>
  </div>
  <div class="data-container">
    <div class="signin-form">
      <span class="sigin-text">Sign in My O2</span>
      <div class="username-container">
        <label for="username" class="username-label">Username (usually your email address)</label>
        <input  type="text" id="username" class="username-input" [(ngModel)]="username" >
      </div>
      <div class="password-container">
        <label for="username" class="username-label">Password</label>
        <input type="password" id="password" class="username-input" [(ngModel)]="password">
      </div>

      <div class="remember-container" style="display: flex;">
        <input type="checkbox" id="remember" class="remember-checkbox">
        <label style="margin-left: 5px;" for="remember">Remember my username</label>
      </div>

      <button class="verify-button" (click)="signIn()">Verify</button>
    </div>
    <div class="alreadysignin-form">
      <span class="sigin-text">Verify Yourself</span><br>
      <div class="username-container">If you've got a Pay Monthly account then you've to verify yourself by giving your username and password</div>
    </div>





  </div>

</div>
